.content-main__message{ "data-message-id": "#{message.id}"}
  .content-main__message__name
    = message.user.name
  .content-main__message__days
    = (message.created_at)
  .content-main__message__message
    = message.content
  - if message.image.present?
    = image_tag message.image.url
